# Ignore python byte code.
*.pyc
*~

# Ignore installer info.
mcl.egg-info/

# Ignore editor configurations.
.project
.pydevproject
.settings

# Ignore coverage report temporary files.
.coverage

# Do not version intermediary documentation files.
doc/build/
doc/source/_auto
